*
!/.gitignore
!/README.md
!/VERSION
!/pyproject.toml
!/requirements-dev.txt
!/launcher.py
!/app/
!/app/**
!/updater/
!/updater/**
!/configs/
!/configs/environment.json
!/configs/requirements.lock
!/scripts/
!/scripts/**
!/tests/
!/tests/**
!/docs/
!/docs/**
!/.github/
!/.github/**
**/__pycache__/
**/*.pyc
